@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 24 24 27; /* zinc-900 */
    --secondary: 39 39 42; /* zinc-800 */
    --terciary: 82 82 91; /* zinc-600 */
    --muted: 113 113 122; /* zinc-500 */
    --background: 255 255 255; /* white */
    --blue-primary: 47 132 255;
    --blue-secondary: 96 165 250;
    --blue-topic: 96 165 250;

    --bullet-color: rgb(24, 24, 27);
  }

  html.dark {
    --primary: 241 245 249;
    --secondary: 226 232 240;
    --terciary: 203 213 225;
    --muted: 148 163 184;
    --background: 15 23 42;
    --blue-primary: 47 132 255;
    --blue-secondary: 96 165 250;
    --blue-topic: 30 58 138;

    --bullet-color: rgb(255, 255, 255);
  }

  input,
  textarea {
    background: transparent;
  }

  @keyframes fill {
    to {
      background-size: 100% 100%;
    }
  }

  @keyframes reveal-floatingNavbar {
    from {
      opacity: 0;
      bottom: -20px;
    }
  }
}

@layer utilities {
  .h-screen-mobile {
    height: 100dvh;
  }

  .animation-paused {
    animation-play-state: paused;
  }

  .fill-name {
    background-image: linear-gradient(
      90deg,
      rgb(47, 132, 255),
      rgb(96, 165, 250)
    );
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;

    animation: fill 3s 1s linear forwards;
  }

  .logos-slide:has(.logo:hover) .logo:not(:hover) {
    opacity: 0.3;
    scale: 0.95;
  }

  .bullet {
    width: 8px;
    height: 8px;
    background: var(--bullet-color);
    display: inline-block;
    margin-inline: 4px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.3;
    transition: scale 0.3s;
  }

  .bullet-active {
    background: var(--bullet-color);
    opacity: 0.9;
    scale: 1.5;
  }

  .reveal-floatingNavbar {
    animation: reveal-floatingNavbar 0.6s 2750ms backwards;
  }

  html::-webkit-scrollbar {
    width: 0.4rem;
  }

  html::-webkit-scrollbar-track {
    background: transparent;
  }

  html::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: 999px;
  }

  html.dark::-webkit-scrollbar-thumb {
    background: rgba(96, 165, 250, .2);
    border-radius: 999px;
  }

  .logos-scrollbar::-webkit-scrollbar {
    width: 0.3rem;
  }

  .logos-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .logos-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: 999px;
  }

  .logos-scrollbar.dark::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .8);
    border-radius: 999px;
  }
}
