@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    color: #2F84FF;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 0px 0px 5px #03142b;
    -webkit-text-stroke: 0px #2F84FF;
    animation: slide 10s 3s forwards;
  }

  @keyframes slide {
    to {
      width: 100%;
    }
  }
}