@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 255 17 255;
    --secondary: 255 255 255;
    --muted: 34 255 136;
    --blue-primary: 265 0 0;
    --blue-secondary: 47 132 52;
    --blue-topic: 34 255 34;
  }

  html.dark {
    --primary: 241 245 249;
    --secondary: 203 213 225;
    --muted: 148 163 184;
    --background: 15 23 42;
    --blue-primary: 47 132 255;
    --blue-secondary: 96 165 250;
    --blue-topic: 30 58 138;
  }

  h1::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    color: #2F84FF;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 0px 0px 5px #3e3ba4;
    -webkit-text-stroke: 0px #2F84FF;
    animation: fill 8s 3s forwards;
  }

  input, textarea {
    background: transparent;
  }

  @keyframes fill {
    to {
      width: 100%;
    }
  }
}

@layer utilities {
  .h-screen-mobile {
    height: calc(100dvh - 40px);
  }

  .animation-paused {
    animation-play-state: paused;
  }

  .logos-slide:has(.logo:hover) .logo:not(:hover) {
    opacity: .3;
    scale: .95;
  }

  .bullet {
    width: 8px;
    height: 8px;
    background: var(--primary);
    display: inline-block;
    margin-inline: 4px;
    border-radius: 100%;
    cursor: pointer;
    opacity: .3;
    transition: scale .3s;
  }

  .bullet-active {
    background: var(--primary);
    opacity: .9;
    scale: 1.5;
  }
}